.movie-templete {
    height: 300px;
    width: 250px;
    -webkit-box-shadow: 0 10px 6px -6px #eee;
    -moz-box-shadow: 0 10px 6px -6px #eee;
    box-shadow: 0 10px 6px -6px #eee;
    background-color: #fff;
}

.movie-templete span {
    color: #9c9c9c;
}

.bg-faded {
    background-color: #ececec;
}

.movie-templete img {
    min-height: 250px;
    width: 250px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
}

.new {
    height: 30px;
    width: 70px;
    position: absolute;
    top: 5%;
    right: 0px;
    color: white;
}

.pos-r {
    position: relative;
}

.carousel-item>img {
    height: 500px;
}

nav a {
    font-size: 20px;
}

.navbar-brand {
    font-size: 24px;
}

.movieImage {
    height: : 600px;
    width: 600px;
    color: #ececec;
}

.img-xs {
    width: 25px;
    height: 25px;
}

.img-sm {
    width: 35px;
    height: 35px;
}

.img-md {
    width: 60px;
    height: 60px;
}

.img-lg {
    width: 90px;
    height: 90px;
}

.img-xl {
    width: 125px;
    height: 125px;
}

.bg-red {
    background-color: #54151b;
}

.comments-list {
    overflow: auto;
    max-height: 190px;
}

.movieInfo-box {
    overflow: auto;
    max-height: 250px;
}